@page "/structure/create-group"
@model CreateGroupModel
@{
    ViewData["Title"] = "Create group";
}

<div class="container">
  <h1>@ViewData["Title"]</h1>
  <form method="post">
    <div class="form-group col-md-4">
      <label for="Name">Name</label>
      <input type="text" class="form-control" name="Name">
    </div>
    <div class="form-group col-md-2">
      <label for="StartDate">Start date</label>
      <input type="date" class="form-control" name="StartDate">
    </div>
    <div class="col-md-4">
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
  </form>
</div>
