@page
@model GetGroupDetailsModel
@{
    ViewData["Title"] = "Group details";
}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">@Model.GroupDetails.Name</h1>
    <p class="lead">Start date: @Model.GroupDetails.StartDate</p>
  </div>
</div>
