@page "/structure/group-list"
@model GroupListModel
@{
    ViewData["Title"] = "Group list";
}

<div class="container">
  <h1>@ViewData["Title"]</h1>
  <div class="col-auto">
    <a asp-area="Structure" asp-page="CreateGroup" class="btn btn-primary mb-3">Create</a>
  </div>

  <ul class="list-group">
@foreach (var item in @Model.Items)
{
    <li class="list-group-item">
      <a asp-area="Structure" asp-page="Group" asp-route-id="@item.Id">@item.Name</a>
    </li>
}
  </ul>
</div>
