@page
@model IndexModel
@{
    ViewData["Title"] = "Groups";
}

<div class="text-center">
    <h1 class="display-4">Groups</h1>
</div>
<div class="text-center">
    <form class="form-inline" asp-page="/Groups/Create" method="post">
        <button type="submit" class="btn btn-success">Create</button>
    </form>
</div>
