@page
@model Decidas.Pages.Groups.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Group</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Group.Name" class="control-label"></label>
                <input asp-for="Group.Name" class="form-control" />
                <span asp-validation-for="Group.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Group.City" class="control-label"></label>
                <input asp-for="Group.City" class="form-control" />
                <span asp-validation-for="Group.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Group.SocialLink" class="control-label"></label>
                <input asp-for="Group.SocialLink" class="form-control" />
                <span asp-validation-for="Group.SocialLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Group.StartDate" class="control-label"></label>
                <input asp-for="Group.StartDate" class="form-control" />
                <span asp-validation-for="Group.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Group.CeaseDate" class="control-label"></label>
                <input asp-for="Group.CeaseDate" class="form-control" />
                <span asp-validation-for="Group.CeaseDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Group.IsActive" /> @Html.DisplayNameFor(model => model.Group.IsActive)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
