@page
@model CreateGroupModel
@{
    ViewData["Title"] = "Create group";
}

<h1>Create group</h1>
<form class="form-horizontal" method="post">
    <div class="form-group">
        <label for="Name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="Name">
        </div>
    </div>
    <div class="form-group">
        <label for="StartDate" class="col-sm-2 control-label">Start date</label>
        <div class="col-sm-10">
            <input type="date" class="form-control" name="StartDate">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Create</button>
        </div>
    </div>
</form>