@page
@model GetGroupListModel
@{
    ViewData["Title"] = "Group list";
}

<div class="container">
  <h1>Group list</h1>
  <div class="col-auto">
    <a asp-area="Groups" asp-page="Create" class="btn btn-primary mb-3">Create</a>
  </div>

  <ul class="list-group">
@foreach (var item in @Model.Items)
{
    <li class="list-group-item">@item.Name</li>
}
  </ul>
</div>
