@page
@{
    ViewData["Title"] = "Error 404";
}
<style type="css">
</style>
<div class="noise"></div>
<div class="overlay"></div>
<div class="terminal">
  <h1>Error <span class="errorcode">500</span></h1>
  <p class="output">Looks like our server is taking a coffee break! We’re working on fixing it.</p>
  <p class="output">In the meantime, why not explore other parts<a href="#1">go back</a> of our website?</p>
</div>
